-r requirements.txt
pytest>=8.2.0
ipdb>=0.13.13
flake8>=7.0.0
pep8-naming>=0.14.0
autoflake>=2.2.0
mccabe>=0.7.0
brunette>=0.4.0
tox>=4.11.3
coverage>=7.4.4
pytest-cov>=4.1.0
zest.releaser>=8.0.0
setuptools>=69.0.0
twine>=5.0.0
wheel>=0.43.0
rope>=1.13.0
pytest-mock>=3.14.0
lock-requirements>=0.4.0
requests-mock>=1.12.1
