-r requirements.txt
pytest>=7.0.0
ipdb>=0.13.13
flake8>=6.0.0
pep8-naming>=0.13.3
autoflake>=2.0.0
mccabe>=0.7.0
brunette>=0.4.0
tox>=4.0.0
coverage>=7.0.0
pytest-cov>=4.0.0
zest.releaser>=7.0.0
setuptools>=65.0.0
twine>=4.0.0
wheel>=0.38.0
rope>=1.7.0
pytest-mock>=3.10.0
lock-requirements>=0.4.0
requests-mock>=1.11.0
